#!/usr/bin/make -f

TARGETDIR=$(CURDIR)/debian/avr-evtd


%:
	dh $@

override_dh_auto_clean:
	# FIXME: upstream's install or clean is broken

override_dh_auto_install:
	cp -l Install/avr-evtd.init debian/avr-evtd.init
	cp -l Changelog.old Changelog

	# FIXME: Upstream needs to be notified that this should be the ideal:
	#$(MAKE) DESTDIR=$(CURDIR)/debian/avr-evtd install

	install avr-evtd			$(TARGETDIR)/usr/sbin
	install -m 755	Install/EventScript	$(TARGETDIR)/etc/avr-evtd/
	install -m 644	Install/emergency-eth0	$(TARGETDIR)/etc/avr-evtd/
	install -m 644	Install/recovery.tar	$(TARGETDIR)/etc/avr-evtd/
	install -m 644	Install/avr-evtd.config	$(TARGETDIR)/etc/default/avr-evtd
